# Gemini API Key - Get from: https://makersuite.google.com/app/apikey
GEMINI_API_KEY=your_gemini_api_key_here

# SerpAPI Key - Get from: https://serpapi.com/manage-api-key
SERP_API_KEY=your_serpapi_key_here
GEMINI_MODEL=your_model_here

KV_REST_API_URL=your_vercel_kv_url (you get this when you setup a KV DB in Vercel)
KV_REST_API_TOKEN=your_vercel_kv_token